 <style>
  
        
        body {
            background: /* On "top" */
            repeating-linear-gradient( 135deg, transparent, transparent 1px, #ccc 1px, #ccc 2px ),
            /* on "bottom" */
            linear-gradient( to bottom, #eee, #999 );
            font-family: Arial;
        }

       
    
    </style>